<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <style>
       #main-columns>#child-columns {
      flex: 1 1 20%;
    }
  </style>
  <title>YTR Dashboard</title>
</head>
<body>
  <div id="all-destination">
<!-- PRODUCT DASHBOARD -->
<div class="column is-main-content">
  <div class="container is-fluid block">
    <section class="section" style="text-align: center;">
    </section>
  </div>


  <!-- -------- PRODUCT CARDS -------- -->
  <div class="container is-widescreen">
    <!-- -------- PRODUCT CARDS -------- -->
    <div id="main-columns" class="columns is-multiline">

      <!-- -------- PRODUCT 1-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 1 END -------- -->


      <!-- -------- PRODUCT 2-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 2 END -------- -->

      <!-- -------- PRODUCT 3-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 3 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

      <!-- -------- PRODUCT 2-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 2 END -------- -->

      <!-- -------- PRODUCT 3-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 3 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

      <!-- -------- PRODUCT 4-------- -->
      <div id="child-columns" class="column">
        <div class="box" style="height: 45vh;width: 17vw;">
          I'm in a box.
        </div>
      </div>
      <!-- -------- PRODUCT 4 END -------- -->

    </div>
    <!-- END OF PRODUCT DASHBOARD -->
    </div>
  </div>
</body>
</html>
