<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/92bfee9cd7.js" crossorigin="anonymous"></script>
  <style>
    @import "~@creativebulma/bulma-divider";

    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #000;
    }

    .separator:not(:empty)::before {
      margin-right: .25em;
    }

    .separator:not(:empty)::after {
      margin-left: .25em;
    }
  </style>
  <title>YTR</title>
</head>

<body>
  <!-- ------------------------------------------------ NAV SECTION ------------------------------------------------ -->
  <nav id="navbar" class="navbar is-fixed-top" role="navigation" aria-label="main navigation"
    style="box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" ;>
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="./assets/YTR.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" style="justify-content: flex-end; margin-right: 0; margin-left: auto;">
        <a class="navbar-item">
          <!-- <a href='#'><strong>ALL PLACES</strong></a> -->
          <!-- <button class="button is-info is-rounded is-inverted"><strong>ALL PLACES</strong></button> -->
          <div class="buttons">
            <a class="button is-info is-rounded is-inverted">
              <span class="icon is-small is-left">
                <i class="fas fa-compass"></i>
              </span>
              <strong>All Destinations</strong>
            </a>
          </div>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger">
              <span class="icon is-small is-left">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <strong>Log Out</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- ------------------------------------------------ NAV SECTION ------------------------------------------------ -->

  <!-- ---------------------------------------------------- THIS IS THE CONTENT ---------------------------------------------------- -->
  <div id="homepage">
  <section class="section" style="margin-top: 11vh;padding: 10px;margin-bottom: 4vh; text-align: center;">
    <h1 class="title">Welcome!</h1>
    <h2 class="subtitle">
      Would you like to try our <strong>Recommendation</strong> below?
    </h2>
  </section>

  <div class="columns" style="display: flex;margin: 20px;">
    <div class="column is-half" style="padding-right: 6vw;padding-left: 6vw;">
      <div class="box" style="height: 40vh;margin: 0;padding: 0;overflow: clip;">
        <figure>
          <img src="./assets/raja.jpg" style='overflow: hidden;'>
        </figure>
      </div>
    </div>
    <div class="column"
      style="display: flex;flex-direction: column;justify-content: center;align-content: center;align-items: center;padding: 0 5vw;">
      <span style="font-size: 120px;display: flex;align-content: center;justify-content: center; text-align: center;">
        🦊
      </span>
      <strong style="font-size: 21px;">Welcome to HackToDo!</strong>
      <p style="text-align: center;">
        This is a simple to do app with *insert 3rd party API here* to help you maage your day and improve your
        productivity throughout the day
      </p>
    </div>
  </div>


  <!-- ---------------------- THIS IS THE CONTENT ---------------------------------------------------- -->


  <div class="separator" style="padding: 0 10vw;">Anak Senjah Quotes</div>

  <!-- ---------------------- THIS IS THE CONTENT ---------------------------------------------------- -->

  <section class="section" style="margin-top: 3vh;padding: 10px;margin-bottom: 4vh; text-align: center;">
    <h2 class="subtitle">
      Need to check <strong>the weather</strong> or <strong>some places</strong>?
    </h2>
  </section>

  <div class="columns" style="display: flex;margin: 20px;">
    <div class="column is-half" style="padding-right: 6vw;padding-left: 6vw;">
      <div class="box" style="height: 40vh;">
        Weather
      </div>
    </div>
    <div class="column"
      style="display: flex;flex-direction: column;justify-content: center;align-content: center;align-items: center;padding: 0 5vw;">
      <div class="box" style="height: 40vh;width: 40vw; margin:0; padding: 0;">
        Google Maps
      </div>
    </div>
  </div>
</div>

  <script src="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-divider"></script>
</body>

</html>
